<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='expenses_styles.css') }}">
    <title>Your Expenses</title>
</head>
<body>
    <div class='expense'>
        <h2>Here is your best premium insurance option</h2>
        <br>
        <h2 id='final'><p>The best insurance package for you is <br>$ {{total}} /yr</h2>
    </div>
</body>
</html>