<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Know your insurance premium</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <div class='wrap'>
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <h3>Upload your file here</h3>
            {{ form.file }}
            <button type="submit" class="upload" >Upload</button>
            <h3>or</h3>
            <h3>Enter Details</h3>
            {{ form.hidden_tag() }}
            {{ form.age(class_="text_field", placeholder="Your Age" ) }}
            <br>
            {{ form.bmi(class_="text_field", placeholder="Your BMI") }}
            <br>
            {{ form.children(class_="text_field", placeholder="Number of Children") }}
            <br>
            {{ form.smoker.label(class_="labels") }} <br> {{ form.smoker(class_="drop_down") }}
            <br>
            {{ form.sex.label(class_="labels") }} <br> {{ form.sex(class_="drop_down") }}
            <br>
            {{ form.region.label(class_="labels") }} <br> {{ form.region(class_="drop_down") }}
            <br>
            {{ form.sub(class_="button") }}

        </form>
    </div>
</body>
</html>

